@import url('https://fonts.googleapis.com/css2?family=Handjet:wght@200;300;400;500;600;700;800&display=swap');
// font-family: 'Handjet', cursive;

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
// font-family: 'Work Sans', sans-serif;

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&display=swap');
// font-family: 'Manrope', sans-serif;

// global
:root {
  --white: #efefef;
  --soft-white: #c4d5d8;
  --black: #131313;
  --soft-black: #2d3132;

  --gold: #ffd700;
  --blue: #b9f0fd;
  --violet: #d976f0;
  --green: #089208;

  // ---

  --font-title: 'Handjet', cursive;
  --font-text: 'Manrope', sans-serif;

  --fs-h1: 5rem;
  --fw-h1: 800;
  --fs-h2: 3rem;
  --fw-h2: 700;
  --fs-h3: 2.5rem;
  --fw-h3: 600;
  --fs-h4: 2rem;
  --fw-h4: 500;
}

// light theme
:root {
  --background: var(--white);
  --background-soft: var(--soft-white);

  --color: var(--black);
  --color-soft: var(--soft-black);
}

// dark theme
.dark-theme {
  --background: var(--black);
  --background-soft: var(--soft-black);

  --color: var(--white);
  --color-soft: var(--soft-white);
}

// --- couleur pour les technos ---

.html {
  background-color: #e54c21;
}
.css {
  background-color: #214ce5;
}
.scss {
  background-color: #ce679a;
}
.js {
  background-color: #f0db4f;
}
.ts {
  background-color: #2d79c7;
}
.react {
  background-color: #61dbfb;
}
.angular {
  background-color: #e23237;
}
.vue {
  background-color: #3fb984;
}
.react-native {
  background-color: #61dbfb;
}
.node {
  background-color: #529f41;
}
.express {
  background-color: #529f41;
}
.java {
  background-color: #0074bd;
}
.springboot {
  background-color: #6db33f;
}
.sql {
  background-color: #da7636;
}
.git {
  background-color: #f05033;
}
.workbench {
  background-color: #edf9fd;
}
.pgadmin {
  background-color: #2f6792;
}
.jenkins {
  background-color: #f0d7b8;
}
.sonar {
  background-color: #499cd2;
}
.aws {
  background-color: #ff8e04;
}
.google-cloud {
  background-color: #fbbc05;
}
.jira {
  background-color: #2684ff;
}
.figma {
  background-color: #a359ff;
}
.vscode {
  background-color: #1389d2;
}
.eclipse {
  background-color: #2c2255;
}
