.global-blog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;

  text-align: center;
  width: 100%;

  article {
    .paragraphe {
      background-color: var(--background-soft);
      border: 2px solid var(--gold);
      padding: 1rem;
      border-radius: 20px;

      span {
        text-decoration: underline;
        font-style: italic;
      }
    }
  }
}
