.global-blog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;

  text-align: center;
  width: 100%;

  span {
    text-decoration: underline;
    font-style: italic;
  }
}
