.global-parcours {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;

  text-align: center;
  width: 100%;

  .container-xp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;

    background-color: var(--background-soft);
    border: 2px solid var(--gold);
    padding: 1rem;
    border-radius: 20px;

    p {
      line-height: 1.5rem;
      word-spacing: 0.15rem;
    }

    ul {
      border-radius: 20px;
      border: 3px solid var(--background);
      padding: 1rem;
      margin: 1rem;

      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      gap: 0.5rem;

      li {
        text-shadow:
          0 0 0.5rem var(--background),
          0 0 0.7rem var(--background),
          0 0 0.9rem var(--background);
        padding: 0.5rem;
        border-radius: 10px;
        font-weight: 500;
        border: 1px solid var(--background);
      }
    }
  }

  .redite {
    font-size: var(--redite);
    margin-bottom: 1rem;
  }
}
