.global-theme {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;

  text-align: center;
  width: 100%;

  // ---

  button {
    padding: 0.1em 0.25em;
    width: 13em;
    height: 4.2em;
    background-color: var(--background-soft);
    border: 0.08em solid var(--color-soft);
    border-radius: 0.3em;
    font-size: 12px;

    span {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;

      bottom: 0.4em;
      width: 8.25em;
      height: 2.5em;

      background-color: var(--background-soft);
      color: var(--color-soft);
      border-radius: 0.2em;
      font-size: 1.5em;

      border: 0.08em solid var(--color-soft);
      box-shadow: 0 0.4em 0.1em 0.02em var(--color-soft);
      transition: all 0.25s;

      &:active {
        transform: translate(0, 0.4em);
        box-shadow: 0 0 0 0 var(--color-soft);
      }
    }
  }

  // ---

  section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 7rem 5rem;
  }
}
