.global-cardProjet {
  position: relative;

  padding: 10px 30px;
  background-color: transparent;
  color: var(--color);

  border: 3px solid var(--color);
  border-radius: 20px;
  box-shadow: -4px 4px 2px 0px rgb(0 0 0 / 15%);

  width: 350px;
  height: 170px;

  transition: 0.5s;

  /* --- card ki se deplie --- */

  img {
    width: 150px;
    height: 150px;
    border-radius: 20px;
    box-shadow: 0 15px 50px rgba(0, 0, 0, 0.35);
    background-color: var(--background-soft);

    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    z-index: 10;
    top: -50px;
    transition: 0.5s;
  }

  .hidden {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    /* cache la div en dessous */

    .info {
      position: absolute;
      top: 0;
      left: 0;

      width: 100%;
      height: 100%;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      gap: 1rem;

      transition: 0.5s;
      transform: translateY(90px);

      .text {
        padding: 0.5rem;

        h4 {
          margin: 1rem 0;
          transition: 0.5s;
        }

        p {
          // pour mettre ... après la 4ème ligne
          overflow: hidden;
          display: -webkit-box;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
        }
      }

      ul {
        border-radius: 20px;

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;

        li {
          background-color: var(--color);
          color: var(--background);
          padding: 0.5rem;
          border-radius: 10px;
        }
      }
    }
  }

  &:hover {
    height: 450px;

    img {
      height: 250px;
      width: 250px;
    }

    .info {
      transform: translateY(70px);
    }
  }

  // --- glow ---

  &:hover {
    h4 {
      letter-spacing: 0.2rem;
    }
  }

  &:nth-child(3n - 2):hover {
    border: 3px solid var(--gold);
    box-shadow: 0 0 35px var(--gold);
  }

  &:nth-child(3n - 1):hover {
    border: 3px solid var(--blue);
    box-shadow: 0 0 35px var(--blue);
  }

  &:nth-child(3n):hover {
    border: 3px solid var(--violet);
    box-shadow: 0 0 35px var(--violet);
  }

  i {
    position: absolute;
    inset: 0;
    display: block;

    &::before {
      content: '';
      position: absolute;

      background-color: var(--background);

      top: 80%;
      left: -3px;

      height: 1rem;
      width: 4px;

      transform: skewY(-30deg);
      transition: 0.5s ease-out;
    }

    &::after {
      content: '';
      /* important */
      position: absolute;

      background-color: var(--background);

      bottom: 80%;
      right: -3px;

      height: 1rem;
      width: 4px;

      transform: skewY(-30deg);
      transition: 0.5s;
    }
  }

  &:hover i::before {
    top: 10%;
    height: 2rem;
  }

  &:hover i::after {
    bottom: 10%;
    height: 2rem;
  }
}
