.global-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  text-align: center;
  color: var(--color);
  background-color: var(--background-soft);

  padding: 1rem;
  margin-top: 2rem;
  margin-right: 17rem; // taille navbar

  font-size: var(--fs-p);

  .mesLiens {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;

    a:hover {
      color: var(--gold);
    }

    .myMail {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      span {
        font-size: var(--little-p);
      }
    }
  }

  .myTag {
    font-size: var(--little-p);
  }
}

@media screen and (max-width: 800px) {
  .global-footer {
    margin-right: 0rem; // taille navbar
  }
}
