.global-wrapper {
  background-color: var(--background);
  position: relative;

  .wrapper-right-left {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--background);
    min-height: 100vh;

    .global-pages {
      padding: 4rem;
      color: var(--color);
      margin-right: 17rem; // taille navbar
      max-width: 1260px;
    }

    .bigNavbar {
      min-width: 17rem;
      max-width: 17rem;
    }

    .burgerNavbar {
      display: none;
      position: fixed;
      top: 1rem;
      right: 1rem;
      border-radius: 10px;
    }
  }

  @media screen and (max-width: 1200px) {
    .wrapper-right-left {
      .global-pages {
        padding: 1rem;
      }
    }
  }

  @media screen and (max-width: 800px) {
    .wrapper-right-left {
      .global-pages {
        padding: 1rem;
        margin-right: 0rem; // taille navbar
      }

      .bigNavbar {
        border-left: 1px solid var(--gold);
        transform: translate(17rem);
        transition: all 0.5s;

        &.open {
          transform: translate(0rem);
        }
      }

      .burgerNavbar {
        display: block;
      }
    }
  }
}
