.global-wrapper {
  background-color: var(--background);
  position: relative;

  .wrapper-right-left {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: var(--background);
    min-height: 100vh;

    .global-pages {
      padding: 4rem;
      color: var(--color);
      margin-right: 17rem; // taille navbar

      h1 {
        text-align: center;
      }
    }

    .bigNavbar {
      min-width: 17rem;
      max-width: 17rem;
    }

    .burgerNavbar {
      display: none;
      position: fixed;
      top: 1rem;
      right: 1rem;
      border-radius: 10px;
    }
  }

  .global-footer {
    margin-right: 17rem; // taille navbar
  }

  @media screen and (max-width: 1200px) {
    .wrapper-right-left {
      .global-pages {
        padding: 1rem;
      }
    }
  }

  @media screen and (max-width: 800px) {
    .wrapper-right-left {
      .global-pages {
        padding: 1rem;
        margin-right: 0rem; // taille navbar
      }

      .bigNavbar {
        border-left: 1px solid var(--gold);
        transform: translate(17rem);
        transition: all 0.5s;

        li {
          display: none;
        }

        &.open {
          display: flex;
          transform: translate(0rem);

          li {
            display: flex;
          }
        }
      }

      .burgerNavbar {
        display: block;
      }
    }
    .global-footer {
      margin-right: 0rem; // taille navbar
    }
  }

  span.trait {
    width: 40%;
    height: 0.25rem;
    border-radius: 500px;
    background-color: var(--color-soft);
    margin: 1rem 0;
  }

  // --- couleur pour les technos ---

  .HTML {
    background-color: #e54c21;
  }
  .CSS {
    background-color: #214ce5;
  }
  .SCSS {
    background-color: #ce679a;
  }
  .JavaScript,
  .JS-DOM {
    background-color: #f0db4f;
  }
  .TypeScript {
    background-color: #2d79c7;
  }
  .React {
    background-color: #61dbfb;
  }
  .Angular {
    background-color: #e23237;
  }
  .Vue {
    background-color: #3fb984;
  }
  .React-Native {
    background-color: #61dbfb;
  }
  .NodeJS {
    background-color: #529f41;
  }
  .Express {
    background-color: #529f41;
  }
  .Java {
    background-color: #0074bd;
  }
  .Springboot {
    background-color: #6db33f;
  }
  .SQL {
    background-color: #da7636;
  }
  .Git {
    background-color: #f05033;
  }
  .MySQLWorkbench {
    background-color: #edf9fd;
  }
  .PgAdmin,
  .PostgreSQL {
    background-color: #2f6792;
  }
  .Jenkins {
    background-color: #f0d7b8;
  }
  .SonarQube {
    background-color: #499cd2;
  }
  .AWS {
    background-color: #ff8e04;
  }
  .Google-Cloud {
    background-color: #fbbc05;
  }
  .Jira {
    background-color: #2684ff;
  }
  .Figma {
    background-color: #a359ff;
  }
  .VSCode {
    background-color: #1389d2;
  }
  .Eclipse {
    background-color: #2c2255;
  }
}
