.global-wrapper {
  background-color: var(--background);

  .wrapper-right-left {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: var(--background);
    min-height: 100vh;

    .global-pages {
      padding: 2rem;
      color: var(--color);
      margin-right: 20rem; // taille navbar

      h1 {
        text-align: center;
      }
    }
  }

  .global-footer {
    margin-right: 20rem; // taille navbar
  }
}
